<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <h1 class="h1_class">ALPHA BLOG</h1>
      <%= yield %>
      <p>
        <%= link_to "Sign up now", "#", class:"btn btn-danger btn-lg btn-xlarge" %>
      </p>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
